@charset "UTF-8";



h1 {
    background-color: darkgray;
    height: 300px;
    width: 300px;

    border: 10px solid black;

    text-align: center;
    
    padding: 10px 10px 10px 10px;

    outline: 5px dashed turquoise;
    
    margin: 60px;


    
}
a {
    color: white;
    border-width: 10px;
    border-style: solid;
    background-color: rgb(158, 14, 14);
    border-color: black;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}