@charset "UTF-8";

main {
    width: auto;
    padding: 5px;
    background-color: chocolate;
}
body {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(10, 102, 71);
    font-family: 'Times New Roman', Times, serif;
}
div {
    background-color: rgb(21, 20, 117);
    height: 200px;
    width: 200px;
    display: inline-block;
}
div:hover {
    background-color: rgb(136, 160, 31);
}
